*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #0f171f;
}

#root{
  width: 100%;
  height: 100%;
}

.App{
  width: 100%;
  height: 100%;
}

/* Componentes */

#home{
  width: 100%;
  height: 100%;
}

#header{
  width: 100%;
  height: 10%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#title{
  color: white;
  font-size: 45px;
}

#main{
  width: 100%;
  height: 75%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer{
  width: 100%;
  height: 15%;
}

#footer > h3{
  color: white;
}

#principalContainer{
  width: 35%;
  height: 100%;
  background: #2b577e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #c9c9c9;
}

#head{
  width: 90%;
  height: 15%;
  background: transparent;
  border-bottom: 2px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head > p{
  color:white;
  font-size: 25px;
  font-weight: lighter;
}

#containerText{
  width: 90%;
  height: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textArea{
  width: 100%;
  height: 90%;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  overflow-y: auto;
}

#foot{
  width: 100%;
  height: 35%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#containerButtons{
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#containerFootText{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

#space{
  width: 7%;
  height: 100%;
  background: transparent;
}

#text{
  width: 86%;
  height: 80%;
  overflow-y: auto;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
}

#containerCount{
  width: 7%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#containerCount > p{
  color: white;
}

#Button{
  width: 5rem;
  height: 3rem;
  border-radius: 20px;
  background: #1ba0f0;
  border: none;
  color: white;
  cursor: pointer;
}

#Button{
  transform: scale(1);
}